        <aside class="products-categories">
            <h3 class="products-categories-header">Product Categories</h3>
            <ul class="products-categories-list">
                {% for category in Categories.categories %}
                <li class="products-categories-title">
                    <a href="/category/{{ category.slug }}" class="products-categories-title-link">
                        {{ category.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </aside>